@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
  }
}

.red-gradient {
  background: linear-gradient(92deg, #ff5956 2.87%, #ee1e38 96.18%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: var(--background);
}
